<style>
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>

<%= link_to ("Return to homepage"), root_path, class: "return-link" %>


<h1>Edit House</h1>

<%= form_with(model: @house, local: true) do |form| %>

  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@house.errors.count, "error") %> prohibited
        this house from being saved:
      </h2>
      <ul>
        <% @house.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </p>

    <p>
      <%= form.label :monthly_rent %><br>
      <%= form.text_area :monthly_rent %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
