<style>
  h1{
    text-align: center;
  }
  table{
    margin-left: auto;
    margin-right: auto;
  }
  th {
  padding: 10px;
}
  .description-limit{
    max-width: 40px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
  }
  .return-link{
    margin-left: 20px;
  }
  a{
    color: black;
  }
  a:hover{
    color: blue;
  }
  label{
    text-align: center;
    margin-left: 900px;
  }
  .search-container{
    margin-left: 510px;
  }
</style>

<%= link_to ("Return to homepage"), root_path, class: "return-link" %>

<h1>Listing Houses</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Monthly Rent</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>Pets</th>
    <th></th> 
  </tr>

  <% @houses.each do |house| %>
    <tr>
      <td class="description-limit"><%= house.description %></td>
      <td><%= house.monthly_rent %></td>
      <td><%= house.num_rooms %></td>
      <td><%= house.num_bathrooms %></td>
      <td><%= house.pets %></td>
      <td><%= link_to 'Show', house_path(house) %></td>
      <% if current_user.email == house.owner %>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Delete', house_path(house),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>

</table>
